/* COLOR PALETTE 
OFF WHITE - #F9F8F8
BLUE - #007AA3
GRAPHITE - #202A31
*/


/*GLOBAL
-------------------------------------------------*/
html {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 2.1rem;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    background-color: #F9F8F8;
    color: #202A31;
    line-height: 25px;
    margin: 0 auto;
    max-width: 600px;
}

h1, h2, h3{
    text-transform: uppercase;
}

a:link {
    color: #007AA3
}

a:visited {
    color: #F50800;
}

a:hover {
    color: #eb1c83;
}

a:active {
    color: #D6E5E3;
}
/*HEADER
-------------------------------------------------*/

/*NAV
-------------------------------------------------*/
.main-navigation{
    list-style: none;
    margin: 0px;
    padding: 0px;
} 

.main-navigation li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #202A31;
}

/*MAIN
-------------------------------------------------*/
figcaption {
    font-size: small;
}

figure {
    margin-left: 0px;
}

table { 
    border-collapse: collapse;
} 
th {
    text-align: left;
    padding: 0.5rem;
} 
td {
    border-top:1px solid #007AA3;
    padding: 0.5rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}
/*FOOTER
-------------------------------------------------*/
